p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title{
  color: teal;
}

.uppercase{
  text-transform: uppercase;
}

#article-title{
  font-family: cursive; text-transform: capitalize;
}
<!-- In this lesson I learn to add style to id attributes. We use a hashtag to indicate id. Also id supercedes class attributes. -->
