p {
  font-family: Arial;
}

h1 {
  color: maroon;
}

.title{
  color: teal;
}

.uppercase{
  text-transform: uppercase;
}

.publish-time{
  color: gray;
}

.cursive{
  font-family: cursive;
}

.capitalize{
  text-transform: capitalize;
}
<!--In this lesson we learn the order of specificity when creating stylesheets. ID is the most specific, classes are the next specific, and tags being the least specific. -->
